<div class="grid header">
  <!-- Logo -->
  <div class="col-3 flex align-items-center justify-content-center">
    <img src="assets/images/logoTest.png" alt="Logo LMS" width="120" class="logo-redondo">
  </div>

  <!-- Título y descripción -->
  <div class="col-7 flex flex-column align-items-center justify-content-center text-center">
    <h1 class="header-title">EduConnect LMS</h1>
    <p class="header-subtitle">
      Plataforma para potenciar el aprendizaje y la innovación educativa
    </p>
  </div>

  <!-- Perfil o sesión -->
  <div class="col-2 flex align-items-center justify-content-center">
    <img src="assets/images/perfilTest.png" alt="Usuario" class="h-4rem user-icon">
  </div>
</div>
